<link href="assets/css/dashboard.css" type="text/css" rel="stylesheet" />

<div class="dashboard">
    <h3>Welcome, {{ user }}</h3>

    <div class="card-holder">

        {% for card in cards %}
            <div class="card">
                <div class="head">
                    <i class="{{ card.icon }}" id="{{ card.callback }}"></i>
                    <div class="name">{{ card.name }}</div>
                </div>
                <div class="content">
                    {{ card.content }}
                </div>
            </div>
        {% endfor %}

    </div>
</div>