<link rel="stylesheet" type="text/css" href="assets/css/table.css" />

<div class="table-container {{ options.id }}">
    <div class="title">{{ options.title }}</div>

    <table id="{{ options.id }}" cellspacing="0">
        <thead>
            <tr>
                {% for x,y in data[0] %}
                    {% if x != "_cta" %}
                        <td colspan="2">{{ x }}</td>
                    {% else %}
                        <td colspan="1"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    {% for x,y in x %}
                        {% if x == "_cta" %}
                            <td colspan="1" class="call-to-action {{ y.link }}"><i class="{{ y.icon }}"></i></td>
                        {% else %}
                            <td colspan="2" >{{ y }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {%  if page.max > 1 %}
        <div class="button-container">
            <div class="button-float">

                {%  if page.current - 1 > 0 %}
                    <div class="button 0"><i class="fa fa-angle-double-left"></i></div>
                {% else %}
                    <div class="button disabled hidden"><i class="fa fa-angle-double-left"></i></div>
                {%  endif %}

                {% if page.current > 0 %}
                    <div class="button {{ page.current - 1 }}"><i class="fa fa-angle-left"></i></div>
                {% else %}
                    <div class="button disabled hidden"><i class="fa fa-angle-left"></i></div>
                {% endif %}

                <div class="button disabled">{{ page.current + 1 }}</div>

                {%  if page.current < page.max  %}
                    <div class="button {{ page.current + 1}}"><i class="fa fa-angle-right"></i></div>
                {% else %}
                    <div class="button disabled hidden"><i class="fa fa-angle-right"></i></div>
                {% endif %}

                {% if page.current + 1 < page.max %}
                    <div class="button {{ page.max }}"><i class="fa fa-angle-double-right"></i></div>
                {% else %}
                    <div class="button disabled hidden"><i class="fa fa-angle-double-right"></i></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>